@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Overrides by Claire --- */

/* font style */
body {
  font-family: Georgia, serif !important;
}

/* navbar */
.navbar {
  background-color: #19183b;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* Logo & Homepage direction */
.navbar-logo {
  font-weight: bold;
  display: flex;
  align-items: center;
}
.navbar-logo:hover {
  color: #48b3af;
}
.logo-icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 0.5rem;
  fill: currentColor;
}
/* hamburger menu */
.navbar-hamburger {
  display: none;
  color: #ffffff;
  background: none;
  border: none;
  cursor: pointer;
}
.navbar-menu {
  position: absolute;
  top: 3.5rem;
  right: 0;
  width: 100%;
  text-align: center;
  background-color: #0a255f;
  display: none;
}
.navbar-menu.show {
  display: block;
}
.navbar-item {
  display: block;
  padding: 0.5rem 1rem;
}
.navbar-item:hover {
  color: #48b3af;
  text-decoration: none;
  font-style: italic;
}

.navbar-item-danger {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #ef4444;
  border-radius: 0.25rem;
}
.navbar-item-danger:hover {
  background-color: #b91c1c;
}
.navbar-item-success {
  display: block;
  padding: 0.5rem 1rem;
  background-color: #22c55e;
  border-radius: 0.25rem;
}
.navbar-item-success:hover {
  background-color: #15803d;
}

/* button color */
.logo:hover {
  color: #48b3af;
}
.bg-red-500 {
  background-color: #b91c1c;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}
.hover\:bg-red-700:hover {
  background-color: #dc143c !important;
}
.bg-green-500 {
  background-color: #48b3af;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}
.bg-blue-500 {
  background-color: #3396d3;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}
.mr-4:hover {
  color: #48b3af;
  font-style: italic;
}

/* input frame */
input,
select,
textarea {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}
input:focus,
select:focus,
textarea:focus {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2),
    0 0 0 2px rgba(99, 122, 185, 0.3);
  border-color: #637ab9;
  outline: none;
}

/* RWD */
/* par [block] Viewing by different devices */
/* screenWidth : pix >= 1024 pix */
@media screen and (min-width: 1024px) {
  .navbar-menu {
    position: static;
    display: flex !important;
    background: transparent;
    width: auto;
    text-align: left;
  }
  .navbar-hamburger {
    display: none;
  }
}
/* screenWidth : pix < 1024 pix */
@media screen and (max-width: 1023px) {
  form {
    display: flex;
    flex-direction: column;
  }
  .navbar-menu {
    display: none;
  }
  .navbar-hamburger {
    display: block;
  }
}
